video{
    max-height: 75vh;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.filmPlayer{
    margin: 2%;
}

.filmPlayer>h2{
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
    margin-left:5%;
    margin-bottom: 2%;
}

.filmPlayer>div:nth-child(1n){
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
}

.filmPlayer>div:nth-child(1n)>p{
    padding: 10px;
}

.filmPlayer>div:nth-child(2n){
    display: flex;
    flex-direction: column;
    margin-right: 25vw;
    margin-left: 25vw;
    text-align: left;
}

.filmPlayer>div:nth-child(2n)>h3{
    font-size: 20px;
    margin-bottom: 25px;
}


@media only screen and (max-width: 1025px) {
    .filmPlayer>div:nth-child(2n){
        width: 90vw;
        margin-right: 0;
        margin-left: 0;
    }

    .filmPlayer{
        min-height: 85vh;
    }
}