header{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    color: white;
    background-color: #101010;
    height: 5vh;
}

header>h1, header>input{
    margin-top: auto;
    margin-bottom: auto;
}

header>h1{
    font-size: 30px;
    font-weight: bold;
    background-color: #101010;
    cursor: pointer;
    transition: opacity;
    transition-duration: 0.5s;
    transition-delay: 0.05s;
}

header>h1:hover{
    opacity: 0.5;
}

header>input{
    background-color: white;
    height: 50%;
    border-radius: 25px;
    color: black;
}