header {
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    background-color: #101010;
    height: 10vh;
    width: 100%;
}

header>h1,
header>div {
    margin-top: auto;
    margin-bottom: auto;
}

header>h1>a {
    background-color: #101010;
    text-decoration: none;
}

header>h1 {
    font-size: 30px;
    font-weight: bold;
    background-color: #101010;
    cursor: pointer;
    transition: opacity;
    transition-duration: 0.5s;
    transition-delay: 0.05s;
    width: 25vw;
    text-align: center;
}

header>h1:hover {
    opacity: 0.5;
}

header>div {
    background-color: #101010;
    width: 25vw;
    display: flex;
    justify-content: center;
}

header>div a,
header>div i {
    background-color: #101010;
}

header>div>input {
    background-color: white;
    height: 25%;
    border-radius: 25px;
    color: black;
    margin-right: 10px;
    margin-left: 10px;
}

.logged {
    display: none;
}


@media only screen and (max-width: 1025px) {
    header {
        justify-content: space-between;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    header>div>input {
        width: 20vw;
    }

    header>div {
        width: 40vw;
    }
}